.button {
    background: #F36B16;
    border: none;
    border-radius: 0.4em;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-top: 1.5rem;
    min-width: 100%;
    padding: 0.5rem;
    transition: all 0.3s ease;
}

.button:hover, .button:focus {
    background: #ff8336;
    letter-spacing: 0.5px;
}

.button:disabled {
    cursor: wait;
    opacity: 0.5;
}